
body {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

.theme-nav{
	padding-top: 20px;
	padding-bottom: 20px;
	background: #FFFFFF;
}

.navbar-default .navbar-brand {
	color: #FF5722;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #03A9F4;
	border-bottom: 1px solid #03A9F4;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .dropdown .dropdown-menu>li>a:hover {
	color: #FF5722;
	background: rgba(255, 255, 255, 0);	
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #FFFFFF;
	background: #FF5722;	
}

.dropdown-menu .divider {
	background-color: rgba(255, 87, 34, 0.3);
}

.theme-div {
	border-bottom: 1px solid rgba(255, 87, 34, 0.3);
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 21px;
}

.btn-primary {
	background-color: #2196F3;
	border-color: #2196F3;
}

.full-container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.carousel-caption {
	bottom: 40%;
	background: rgba(240, 240, 240, 0.3);
}

.carousel-caption>h1, .green-shell h2{
	font-size: 52px;
}

.carousel-caption>p{
	font-size: 32px;
}


.carousel-inner>.item>img{
	opacity: 0.8;
}

.shell {
	padding-top: 100px;
	padding-bottom: 100px;
}

.shell h2 {
	font-size: 32px;
	color: #000000;
}

.shell p {
	font-size: 18px;
	color: #000000;
}

.green-text {
	color: green;
}

.green-shell {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 150px;
	padding-right: 150px;
	background-color: #5CB85C;
	color: #FFFFFF;
}

.green-shell p {
	font-size: 18px;
	color: #FFFFFF;
}

.greeen-shell {
	shape-outside: circle(50%);
  width: 300px;
  height: 300px;
  float: left;
}

.shell-icon {
	color: #5cb85c;
    font-size: 48px;
    padding-top: 30px;
}